div.ingredients-page(ng-controller="ingredientsController")
    h1 All Ingredients

    md-content.search-bar(layout="row")
        md-button.md-icon-button.search-icon
            md-icon search
        md-input-container(flex)
          input(ng-model="query['name']", placeholder="Search for Ingredient Name")

    md-list-item.md-3-line(md-whiteframe="[[whiteframeDepth]]", layout="row", ng-init="whiteframeDepth=3", ng-mouseenter="whiteframeDepth=9", ng-mouseleave="whiteframeDepth=3", ng-repeat="item in ingredients | filter:query" ng-class="{'md-warn': item.stock < 1}")
        //-  img.md-avatar(ng-src="{{item.face}}?{{$index}}", alt="{{item.who}}")
        .md-list-item-text.info(flex, layout="column")
            h3 [[item.name ]]
            h4 [[item.price | currency : '$']]
            p(flex) [[item.stock | number : 0]] [[item.measure]] left in stock
        md-button.md-icon-button.md-secondary(ng-click="purchaseIngredient(item)", ng-if="isAdminUser")
            md-icon exposure_plus_1
        md-button.md-icon-button.md-secondary(ng-click="purchaseIngredient(item)", ng-if="isAdminUser")
            md-icon filter_9_plus
