md-content.search-bar(layout="row")
    md-button.md-icon-button.search-icon
        md-icon search
    md-input-container(flex)
        input(ng-model="query['name']", placeholder="Search for Recipe Name")

md-card(ng-repeat="recipe in recipes | filter:query")
    img.md-card-image(ng-src="[[recipe.image]]", alt="Image of recipe")
    md-card-title
        md-card-title-text
            span.md-headline [[recipe.name]]
            span.md-subhead Price: $[[recipe.price]]
        md-card-actions(layout="row", layout-align="start center")
            md-button.md-icon-button(ng-click="purchase()", ng-enabled="canPurchase")
                md-icon attach_money
            md-button.md-icon-button(ng-click="make()", ng-enabled="canMake(recipe)", ng-if="isAdminUser")
                md-icon playlist_add_check
            md-button.md-icon-button(aria-label="toggle", ng-click="toggleIngredients()", ng-if="isAdminUser")
                md-icon(ng-show="ingredientsVisible", on-click="toggleIngredients()") arrow_drop_down
                md-icon(ng-show="!ingredientsVisible", on-click="toggleIngredients()") arrow_drop_up

    md-card-content(ng-show="ingredientsVisible && isAdminUser")
        md-list-item.md-3-line(ng-repeat="item in recipe.recipeIngredients"  ng-class="{'md-warn': item.ingredient.stock < 1}")
            .md-list-item-text(layout="column")
                h3 [[item.ingredientString ]]
                h4 $[[item.ingredient.price]]
                p [[item.ingredient.stock || 0]] [[item.ingredient.measure]] left in stock

