div
    h1 All Recipes

    div(class="recipe-container" ng-repeat="recipe in recipes")
        h2 [[recipe.name]]
        p Price: $[[recipe.price]]
        h3 Ingredients
        ul
            li(ng-repeat="item in recipe.recipeIngredients")
                p [[item.ingredient.name]]
                p Price: $[[item.ingredient.price]]
                p Quantity: [[item.quantity]]
                p In Stock: [[item.ingredient.stock + ' ' + item.ingredient.measure]]
