md-sidenav.md-sidenav-left(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')", md-whiteframe="4")
    md-toolbar
        h1.md-toolbar-tools [[user.username || "Guest"]]
    md-content(layout-padding)
        md-list(ng-click="close()")
            md-list-item(ng-if="user.username")
                md-icon exit
                p
                    a(href, ui-sref="logout") Logout
            md-list-item(ng-if="!user.username")
                md-icon enter
                p
                    a(href, ui-sref="login") Login
            md-subheader.md-no-sticky Explore
            md-list-item(ui-sref-active="primary")
                md-icon local_dining
                p
                    a(href, ui-sref="allRecipes") Recipes
                div.md-secondary.md-hue-1 [[recipeCount]]
            md-list-item(ui-sref-active="primary")
                md-icon assignment
                p
                    a(href, ui-sref="ingredients") Ingredients
                div.md-secondary.md-hue-1 [[ingredientCount]]
            md-divider
