md-sidenav.md-sidenav-left(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')", md-whiteframe="4")
    md-toolbar
        h1.md-toolbar-tools [[username || "Guest"]]
    md-content(layout-padding)
        md-list
            md-subheader.md-no-sticky Explore
            md-list-item(ui-sref-active="primary")
                md-icon shopping
                p
                    a(href, ui-sref="products") Products
                div.md-secondary [[productCount]]
            md-list-item(ui-sref-active="primary")
                md-icon local_dining
                p
                    a(href, ui-sref="allRecipes") Recipes
                div.md-secondary [[recipeCount]]
            md-list-item(ui-sref-active="primary")
                md-icon assignment
                p
                    a(href, ui-sref="ingredients") Ingredients
                md-icon.md-secondary [[ingredientCount]]
            md-divider

            md-subheader.md-no-sticky Create
            md-list-item(ui-sref-active="primary")
                md-icon local_dining
                p Product
            md-list-item(ui-sref-active="primary")
                md-icon assignment
                p Ingredient
            md-list-item(ui-sref-active="primary")
                md-icon local_dining
                p Recipe
            md-list-item
                md-icon account_circle
                p User
