md-sidenav.md-sidenav-left(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')", md-whiteframe="4")
    md-toolbar
        h1.md-toolbar-tools [[username || "Guest"]]
    md-content(layout-padding)
        md-button(ng-click="close()", class="md-primary", hide-gt-md)
            Close Sidenav Left
        p(hide, show-gt-md)
            This sidenav is locked open on your device. To go back to the default behavior,
            narrow your display.
