md-toolbar(md-scroll-shrink ng-if="true")
    .md-toolbar-tools
        h1(flex)
            md-icon.local_cafe(aria-label="coffee cup icon") local_cafe
            span Simple Shop
        | {% if app.user %}
        |    {{ app.user.name }}
        | {% else %}
        a(ui-sref="login") Login
        | {% endif %}