<rule name="rule 1v">
	<match url="^(.*)"  />
	<action type="Rewrite" url="/-"  />
</rule>
<rule name="rule 2v">
	<match url="^"  />
	<action type="Rewrite" url="/-"  />
</rule>
<rule name="rule 3v" stopProcessing="true">
	<match url="^app\.php(?:/(.*)|$)"  />
	<action type="Rewrite" url="/%{ENV:BASE}/{R:1}"  />
</rule>
<rule name="rule 4v" stopProcessing="true">
	<match url="^"  />
	<action type="Rewrite" url="/-"  />
</rule>
<rule name="rule 5v" stopProcessing="true">
	<match url="^"  />
	<action type="Rewrite" url="/%{ENV:BASE}/app.php"  />
</rule>
